<div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Edit Role</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                    
                      <div class="form quick-post">
                                      
                                      <form class="form-horizontal" name="vm.roleForm" ng-submit="vm.editRole()">
                                       
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="name">Name</label>
                                            <div class="col-lg-10"> 
                                              <input type="text" ng-model="vm.role.name" class="form-control" id="name">
                                            </div>
                                          </div>   
                                         
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="display_name">Display Name</label>
                                            <div class="col-lg-10">
                                              <input class="form-control" name="display_name" ng-model="vm.role.display_name" id="display_name" />
                                            </div>
                                          </div>                           
                                          
                                          <div class="form-group">
                                            <label class="control-label col-lg-2">Description</label>
                                            <div class="col-lg-10">                               
                                                <textarea name="description" class="form-control" ng-model="vm.role.description" rows="3"></textarea> 
                                            </div>
                                          </div>  
                                          
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
                      											 <div class="col-lg-offset-2 col-lg-9">
                      												<button type="submit" class="btn btn-primary">Save</button>
                                              <button type="submit" class="btn btn-danger">Cancel</button><!-- 
                      												<button type="submit" class="btn btn-danger">Save Draft</button>
                      												<button type="reset" class="btn btn-default">Reset</button> -->
                      											 </div>
                                          </div>
                                      </form>
                                    </div>
                  

                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div>