<div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Settings</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">

                      <div class="form quick-post">
                            <!-- Edit profile form (not working)-->
                            <form class="form-horizontal" name="vm.settingsForm" ng-submit="vm.saveSettings()">
                                <!-- Title -->
                                <div class="form-group">
                                  <label class="control-label col-lg-2" for="name">Site Name</label>
                                  <div class="col-lg-10">
                                    <input type="text" ng-model="vm.settings.site_name" class="form-control" id="site_name">
                                  </div>
                                </div>
                                <!-- Content -->
                                <div class="form-group">
                                  <label class="control-label col-lg-2" for="site_email">Site Email</label>
                                  <div class="col-lg-10">
                                    <input class="form-control" name="site_email" ng-model="vm.settings.site_email" id="site_email" />
                                  </div>
                                </div>
                                <!-- Cateogry -->
                                <div class="form-group">
                                  <label class="control-label col-lg-2">Site Status</label>
                                  <div class="col-lg-10">
                                      <select class="form-control" name="site_status" ng-model="vm.settings.site_status" id="site_status">
                                            <option value="live">Live</option>
                                            <option value="offline">Offline</option>
                                      </select>
                                  </div>
                                </div>

                                <!-- Buttons -->
                                <div class="form-group">
                                   <!-- Buttons -->
                                    <div class="col-lg-offset-2 col-lg-9">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <!--<button type="submit" class="btn btn-danger">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Save Draft</button>
                                        <button type="reset" class="btn btn-default">Reset</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>

                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div>