<div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-flag-o red"></i><strong>Registered Roles</strong></h2>
              <div class="panel-actions">
                <a href="#/add-role" class="btn-close"><i class="fa fa-plus"></i></a>
                <a href="#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <table class="table bootstrap-datatable roles">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Description</th>
                  </tr>
                </thead>   
                <tbody>
                    <tr ng-repeat="role in vm.roles">
                        <td><a href="#/edit-role/{{ role.id }}">{{ role.name }}</a></td>
                        <td>{{ role.display_name }}</td>
                        <td>{{ role.description }}</td>
                    </tr>
                </tbody>
              </table>
            </div>
  
          </div>  