<div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Add User</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                    
                      <div class="form quick-post">
                          <!-- Edit profile form (not working)-->
                          <form class="form-horizontal" name="vm.userForm" ng-submit="vm.addUser()" novalidate>
                              <!-- Title -->
                              <div class="form-group">
                                <label class="control-label col-lg-2" for="name">Name</label>
                                <div class="col-lg-10"> 
                                  <input type="text" ng-model="vm.name" class="form-control" id="name">
                                </div>
                              </div>   
                              <!-- Content -->
                              <div class="form-group">
                                <label class="control-label col-lg-2" for="username">Username</label>
                                <div class="col-lg-10">
                                  <input type="text" ng-model="vm.username" class="form-control" id="username">
                                </div>
                              </div> 

                              <div class="form-group">
                                <label class="control-label col-lg-2" for="email">Email</label>
                                <div class="col-lg-10">
                                  <input type="email" ng-model="vm.email" class="form-control" id="email">
                                </div>
                              </div> 
                              
                              <div class="form-group">
                                <label class="control-label col-lg-2" for="email">Password</label>
                                <div class="col-lg-10">
                                  <input type="password" ng-model="vm.password" class="form-control" id="password">
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label col-lg-2" for="email">Retype Password</label>
                                <div class="col-lg-10">
                                  <input type="password" ng-model="vm.password_conf" class="form-control" id="password_conf">
                                </div>
                              </div>

                              <!-- Buttons -->
                              <div class="form-group">
                                  <!-- Buttons -->
          											 <div class="col-lg-offset-2 col-lg-9">
          												<button type="submit" class="btn btn-primary">Save</button>
          												<button type="submit" class="btn btn-danger">Cancel</button>
          											 </div>
                                </div>
                            </form>
                        </div>
                  

                  </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
                </div>
              </div>