<form class="login-form" name="vm.pwdResetForm" ng-submit="vm.forgotPassword()" novalidate>        
        <div class="login-wrap">
            <h3>Reset Password</h3>
            <div class="errors">{{ vm.message }}</div>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <input type="email" class="form-control" placeholder="Email Address" ng-model="vm.email" autofocus>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Send Password</button>
        </div>
      </form>