<div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-flag-o red"></i><strong>Registered Users</strong></h2>
              <div class="panel-actions">
                <a href="#/add-user" class="btn-close"><i class="fa fa-plus"></i></a>                
                <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <table class="table bootstrap-datatable countries">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <!-- <th>Email</th> -->
                    <th>Username</th>
                    <!-- <th>Status</th> -->
                  </tr>
                </thead>   
                <tbody>
                  <tr ng-repeat="user in vm.users">
                    <td></td>
                    <td><a href="#/edit-user/{{ user.id }}">{{ user.name }}</a></td>
                    <td>{{ user.username }}</td>
                    <!-- <td>{{ user.email }}</td> 
                    <td>
                      <div class="progress thin">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                        </div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                          </div>
                      </div>
                      <span class="sr-only">73%</span>    
                    </td>-->
                  </tr>
                </tbody>
              </table>
            </div>
  
          </div>  