<div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-left">Profile</div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
      </div>  
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="padd">

          <div class="form quick-post">
              <!-- Edit profile form (not working)-->
              <form class="form-horizontal" name="vm.profileForm" ng-submit="vm.updateProfile()" novalidate>
                  <!-- Title -->
                  <div class="form-group">
                    <label class="control-label col-lg-2" for="name">Name</label>
                    <div class="col-lg-10"> 
                      <input type="text" ng-model="vm.profile.name" class="form-control" id="name">
                    </div>
                  </div>   
                  <!-- Content -->
                  <div class="form-group">
                    <label class="control-label col-lg-2" for="username">Username</label>
                    <div class="col-lg-10">
                      <input type="text" ng-model="vm.profile.username" class="form-control" id="username">
                    </div>
                  </div> 

                  <div class="form-group">
                    <label class="control-label col-lg-2" for="email">Email</label>
                    <div class="col-lg-10">
                      <input type="email" ng-model="vm.profile.email" class="form-control" id="email">
                    </div>
                  </div> 

                  <!-- Buttons -->
                  <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-9">
                               <button type="submit" class="btn btn-primary">Save</button>
                               <button type="submit" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>


      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
</div>