<form class="login-form" name="vm.loginForm" ng-submit="vm.signin()" novalidate>
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="alert alert-danger errors" ng-if="vm.message">{{ vm.message }}</div>
            <div class="form-group" ng-class="{'has-error': vm.loginForm.username.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" placeholder="Username"
                        name="username" ng-model="vm.username" required autofocus>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.loginForm.username.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" ng-model="vm.password"
                        placeholder="Password" required>
                </div>
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#/forgot-password"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </div>
      </form>